.u-section-2 .u-list-1 {
  grid-template-rows: repeat(2, auto);
  width: 929px;
  margin: 60px auto;
}
.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 481px;
  grid-gap: 10px;
}
/* 카드 배경생 지정 */
.u-section-2 .u-container-layout-1 {
  padding: 2px 10px;
  background-color:lightblue;
}
.u-section-2 .u-image-1 {
  width: 120px;
  height: 120px;
  background-image: url("../images/member/leearon.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}
.u-section-2 .u-text-1 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 29px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 22px auto 0;
}
.u-section-2 .u-list-item-2 {
  background-image: none;
}
.u-section-2 .u-container-layout-2 {
  padding: 10px;
  
}
.u-section-2 .u-image-2 {
  width: 120px;
  height: 120px;
  background-image: url("../images/member/leearon.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}
.u-section-2 .u-text-3 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 29px auto 0;
}
.u-section-2 .u-text-4 {
  margin: 22px auto 0;
}
.u-section-2 .u-container-layout-3 {
  padding: 2px 10px;
}
.u-section-2 .u-image-3 {
  width: 120px;
  height: 120px;
  object-position: 50% 0%;
  background-image: url("");
  background-position: 50% 50%;
  margin: 0 auto;
}
.u-section-2 .u-text-5 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 29px auto 0;
}
.u-section-2 .u-text-6 {
  margin: 22px auto 0;
}
.u-section-2 .u-list-item-4 {
  background-image: none;
}
.u-section-2 .u-container-layout-4 {
  padding: 10px;
}
.u-section-2 .u-image-4 {
  width: 120px;
  height: 120px;
  object-position: 50% 0%;
  background-image: url("//images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/7869bf8e33b25781a154a4b2/pexels-photo-10077845.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}
.u-section-2 .u-text-7 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 29px auto 0;
}
.u-section-2 .u-text-8 {
  margin: 22px auto 0;
}
.u-section-2 .u-list-item-5 {
  background-image: none;
}
.u-section-2 .u-container-layout-5 {
  padding: 10px;
}
.u-section-2 .u-image-5 {
  width: 120px;
  height: 120px;
  object-position: 50% 0%;
  background-image: url("//images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/6ce29a82440250b6a41d4b16/pexels-photo-733500.jpg");
  background-position: 50% 9.85%;
  margin: 0 auto;
}
.u-section-2 .u-text-9 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 29px auto 0;
}
.u-section-2 .u-text-10 {
  margin: 22px auto 0;
}
.u-section-2 .u-container-layout-6 {
  padding: 2px 10px;
}
.u-section-2 .u-image-6 {
  width: 120px;
  height: 120px;
  object-position: 50% 0%;
  background-image: url("//images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/795b0783e01651fa9e1298ca/pexels-photo-5999980.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}
.u-section-2 .u-text-11 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 29px auto 0;
}
.u-section-2 .u-text-12 {
  margin: 22px auto 0;
}
.u-section-2 .u-list-item-7 {
  background-image: none;
}
.u-section-2 .u-container-layout-7 {
  padding: 10px;
}
.u-section-2 .u-image-7 {
  width: 120px;
  height: 120px;
  object-position: 50% 0%;
  background-image: url("//images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/c011ebc592435d3eb3b60dd6/pexels-photo-3572989.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}
.u-section-2 .u-text-13 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 29px auto 0;
}
.u-section-2 .u-text-14 {
  margin: 22px auto 0;
}
.u-section-2 .u-container-layout-8 {
  padding: 2px 10px;
}
.u-section-2 .u-image-8 {
  width: 120px;
  height: 120px;
  object-position: 50% 0%;
  background-image: url("//images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/242c0c4187dc505db82d23a6/pexels-photo-5091121.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}
.u-section-2 .u-text-15 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 29px auto 0;
}
.u-section-2 .u-text-16 {
  margin: 22px auto 0;
}
@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1228px;
  }
  .u-section-2 .u-list-1 {
    margin-bottom: -323px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 1108px;
  }
}
@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1611px;
  }
  .u-section-2 .u-list-1 {
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}